body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("background.jpg");
    padding-top: 60px;
}

h1 {
    color: #f8fbfb;
    text-align: center;
    font-weight: bold;
    padding: 10px;
     width: 70%;
    margin: 30px auto;
    background-color: #2e4356;
    background-image: url("meteors.jpg");
    border-radius: 20px;
    box-shadow: 3px 3px 8px 5px #37393dbd;
}

img { 
    display: block;
    margin: 0 auto;
    opacity: 0.70;
    box-shadow: 3px 3px 8px 5px #111729bd;
    border-radius: 100px;
}

p { 
    color: #000000;
    text-align: center;
    padding: 10px;
    width: 30%;
     border-radius: 60px;
     margin: 30px auto;
     background-color: #bac3c3;
     
}

a:hover {
    color: #3579a2;
    text-decoration: underline;
}

.dashboard-tabs {
    display: flex;
    background-image: url("meteors.jpg");
      border-radius: 10px;
    margin-bottom: 30px;
    gap: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    box-shadow: 3px 3px 8px 5px #434756bd;

    a {
    color: #000000;
    text-decoration: none;
    }
}

.tab-item {
    padding: 10px;
    border-radius: 5px;
    background-color: #e7eedb;
    cursor: pointer;

}

.tab-item:hover {
    background-color: #cbe1e568;
    color: #000000
}